@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Parisienne&display=swap');

/* Colors */
$color-black: #1a1a1a;
$color-white: #f2f2f2;
$color-gray: #b3b3b3;
$color-gray-light: #e6e6e6;
$color-gold-gradient: linear-gradient(to right, #BF953F, #B38728, #AA771C);
$color-gold: #B38728;
$color-gold-light: #BF953F;

/* Font sizes */
$font-size: 16px;
$title-size: 22px;

/* Fonts */
$main-font: 'Parisienne', 'Dancing Script', cursive;
